VITE_SUPABASE_URL=https://PROJECT_REF.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_REPLACE_ME
VITE_APP_ENV=staging
RESEND_API_KEY=re_REPLACE_ME
AFFILIATE_EMAIL_FROM=Comisiones Llantera Digital <comisiones@llantera.digital>

